<div class="contents row">
  <div class="col-md-5 col-md-offset-3">
    <div class="thumbnail">
        <img class="img-responsive" src="<%= @product.image_url %>" alt="">
        <div class="caption-full">
            <h4><a href="<%= @product.url %>"><%= @product.title %></a>
            </h4>
        </div>
        <div class="ratings">
            <p class="pull-right">3 picks</p>
        </div>
    </div>

    <div class="well">



        <hr>

  <div class="row">
    <div class="col-md-12">
    <% if current_user %>
      <%= form_tag("/products/#{@product.id}/comments", method: :post) do %>
        <textarea cols="30" name="comment" placeholder="コメントする" rows="2"></textarea>
        <input type="submit" value="Leave a Comment">
      <% end %>
    <% end %>
      <div class="comments">
        <h4><コメント一覧></h4>
        <% if @comments %>
          <% @comments.each do |comment| %>
            <p>
              <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %></strong>
              <%= comment.comment %>
            </p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
        <hr>
    </div>
  </div>
</div>